%underline-animation {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: #021747;
        bottom: 0;
        right: 100%;
        transition: 0.4s;
        position: absolute;
    }
    &:hover::after {
        right: 0;
    }
}
%increase-scale {
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}