.burger-menu {
    display: none;
    position: absolute;
    bottom: -105%;
    padding-top: 50%;
    opacity: 0;
    transition: 0.3s;
    &__list {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    &__item {
        color: #021747;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding: 2px;
        &:hover {
            background: #021747;
            color: white;
        }
        transition: 0.3s;
    }
    &:hover {
        display: block;
        opacity: 1;
    }
}