.footer {
    border-top: solid 1px  #D5DAE6;
    padding-top: 24px;
}
.container--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 170px;
}
.media-row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    &__media {
        display: inline-block;
        width: 16px;
        height: 16px;
        &--rss {
            background: url(../design/icon-zabyl.png) no-repeat center;
        }
        &--github {
            background: url(../design/icon-github.png) no-repeat center;
        }
        &--in {
            background: url(../design/icon-linkedin.png) no-repeat center;
        }
    }
    &__text {
        display: none;
        @extend %underline-animation;
    }
}
.subfooter {
    padding: 17px 33px;
    background: #000;
    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }
}
.cloak {
    display: none;
    width: 135px;
    height: 166px;
    position: absolute;
    background-image: url(../design/CJARACTER_p2cloak.png);
    background-position: center;
    background-repeat: no-repeat;
}
.elixirator {
    display: none;
    background-image: url(../design/elixirator.png);
    width: 161px;
    height: 300px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}