.form {
    background: #021747;
    padding: 30px 16px;
    margin: 50px 0;
    &__title {
        font-weight: 900;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__contact {
        display: flex;
        flex-direction: column;
    }
    &__message {
        padding: 12px;
        margin-bottom: 30px;
        resize: none;
        &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #6A7798;
            opacity: 0.5;
        }
    }
    &__radios {
        display: flex;
        flex-direction: column;
    }
    &__btn {
        border: 1px solid #FFFFFF;
        padding: 12px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: inherit;
        width: 100%;
        text-align: left;
        background-image: url(../design/arrow-right-white.png);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        margin-top: 24px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: white;
            color: #021747 ;
            background-image: url(../design/arrow-right-black.png);
        }
    }
}
.form-input {
    padding: 12px;
    outline: none;
    margin-bottom: 16px;
    &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #6A7798;
        opacity: 0.5;
    }
}
.form-label {
    padding: 10px 0;
    &__input {
        display: none;
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #6A7798;
        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../design/radio.png) center no-repeat;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
.form-label__input:checked + .form-label__text::before {
    background: url(../design/radio-selected.png) center no-repeat;
}



