.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    &__item {
    }

    &__link {
        display: inline-block;
        position: relative;
        background: rgba(0, 0, 0, 1);
        width: 100%;
        height: 100%;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity:0.4;
        -moz-opacity:0.4;
        filter: alpha(opacity=80) black;
        -khtml-opacity: 0.8;
        background-color:#000;
    }

}
.gallery-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    transition: 0.4s;
    padding: 10px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
    &--with-btn {
        &:hover {
            background-color: transparent;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        margin: 12px 0;
    }
    &__descr {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__btn-read-more {
        outline: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        padding: 12px;
        background-color: inherit;
        background-image: url(../design/arrow-right-white.png);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        min-width: 166px;
        text-align: left;
        transition: 0.5s;
        &:hover {
            background-color: #FFFFFF;
            color: #021747;
            background-image: url(../design/arrow-right-black.png);
        }
    }
}