.header {
    padding: 26px 0;
    border-bottom: solid 1px #6F7E9E;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        align-items: center;
    }
}
.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
    width: 74px;
    height: 29px;
    background: url(../design/Logo.png) no-repeat center;
    @extend %underline-animation;
}
.contacts {
    display: none;
    transition: 0.5s;
    border: 1px solid #021747  ;
        &:hover {
            background-color: white;
            color: #021747 ;
        }
}
.bars {
    display: block;
    width: 18px;
    height: 13px;
    background: url(../design/Vectorbars.png) center no-repeat;
    position: relative;
    padding: 20px;
    &:hover ~ .burger-menu {
        display: block;
    }
}
.vertical-menu {
    display: none;
}
.menu {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-weight: 900;
        font-size: 26px;
        line-height: 32px;
        text-align: right;
        text-transform: uppercase;
        color: #D9DDE7;
        transform: rotate(-90deg);
    }
    &__bars {
        transform: rotate(-90deg);
        background: url(../design/Vectorbars.png) center no-repeat;
        width: 18px;
        height: 13px;
        display: inline-block;
    }

} 
