@media screen and (min-width:768px) {
    .contacts {
        display: inline-block;
        background: #021747;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 11px 12px;
        display: inline-block;
        margin-right: 50px;
    }
    .form {
        &__contact {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__title {
            width: 100%;
        }
        &__message {
            width: 100%;
        }
        &__btn {
            width: 65%;
            display: block;
            margin: 30px auto;
        }
    }
    .form-input {
       min-width: 49%;
    }
    .rating {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .container--footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .media-row {
        width: 50%;
        &__media {
            flex-grow: 1;
            background-position: left center;
            padding-left: 20px;
            display: inline-block;
            height: auto;
        }
        &__text {
            display: inline-block;
            font-size: 16px;
            line-height: 30px;    
            color: #021747;
            opacity: 0.8;
        }
    }

}


@media screen and (min-width:1024px) {
    .container {
        width: 80%;
    }
    .header {
        border-bottom: none;
    }
    .bars {
        display: none;
    }
    .vertical-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 1000px;
        border-left: #6F7E9E solid 1px;
    }
    .gallery {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
    .form {
        padding: 65px 50px;
    }
    .media-row {
        margin: 0;
    }
    .footer {
        margin-top: 40px;
    }
}
@media screen and (min-width: 1920px) {
    .container {
        width: 70%;
    }
    .vertical-menu {
        width: 5%;
    }
    .footer {
        position: relative;
    }
    .cloak {
        display: inline-block;
        top: -110px;
        right: 50px;
    }
    .elixirator {
        display: inline-block;
        top: -196px;
        right: 50px;
    }

}