.pagination {
    margin-top: 36px;
    &__page {
        font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #021747;
opacity: 0.5;
align-self: center;
margin: 15px 0px;
        &:active {
            opacity: 1;
        }
    }

}