.paragraph {
    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        margin-top: 30px;
        color: #021747;
        &--lower {
            font-size: 26px;
            letter-spacing: -1px;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #6A7798;
    }
}