* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container {
    display: block;
    margin: 0 auto;
    width: 90%;
    /*&--narrow {
        width: 80%;
    }*/
}
a {
    text-decoration: none;
}

@import 'header';
@import 'burger-menu';
@import 'pagination';
@import 'paragraph';
@import 'form';
@import 'footer';
@import 'rating';
@import 'gallery';
@import 'media';
@import 'animations';