* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  display: block;
  margin: 0 auto;
  width: 90%;
  /*&--narrow {
      width: 80%;
  }*/
}

a {
  text-decoration: none;
}

.header {
  padding: 26px 0;
  border-bottom: solid 1px #6F7E9E;
  position: relative;
}
.header__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  align-items: center;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 74px;
  height: 29px;
  background: url(../design/Logo.png) no-repeat center;
}

.contacts {
  display: none;
  transition: 0.5s;
  border: 1px solid #021747;
}
.contacts:hover {
  background-color: white;
  color: #021747;
}

.bars {
  display: block;
  width: 18px;
  height: 13px;
  background: url(../design/Vectorbars.png) center no-repeat;
  position: relative;
  padding: 20px;
}
.bars:hover ~ .burger-menu {
  display: block;
}

.vertical-menu {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}
.menu__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  text-align: right;
  text-transform: uppercase;
  color: #D9DDE7;
  transform: rotate(-90deg);
}
.menu__bars {
  transform: rotate(-90deg);
  background: url(../design/Vectorbars.png) center no-repeat;
  width: 18px;
  height: 13px;
  display: inline-block;
}

.burger-menu {
  display: none;
  position: absolute;
  bottom: -105%;
  padding-top: 50%;
  opacity: 0;
  transition: 0.3s;
}
.burger-menu__list {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.burger-menu__item {
  color: #021747;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 2px;
  transition: 0.3s;
}
.burger-menu__item:hover {
  background: #021747;
  color: white;
}
.burger-menu:hover {
  display: block;
  opacity: 1;
}

.pagination {
  margin-top: 36px;
}
.pagination__page {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #021747;
  opacity: 0.5;
  align-self: center;
  margin: 15px 0px;
}
.pagination__page:active {
  opacity: 1;
}

.paragraph__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 30px;
  color: #021747;
}
.paragraph__title--lower {
  font-size: 26px;
  letter-spacing: -1px;
}
.paragraph__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #6A7798;
}

.form {
  background: #021747;
  padding: 30px 16px;
  margin: 50px 0;
}
.form__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.form__contact {
  display: flex;
  flex-direction: column;
}
.form__message {
  padding: 12px;
  margin-bottom: 30px;
  resize: none;
}
.form__message::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6A7798;
  opacity: 0.5;
}
.form__radios {
  display: flex;
  flex-direction: column;
}
.form__btn {
  border: 1px solid #FFFFFF;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: inherit;
  width: 100%;
  text-align: left;
  background-image: url(../design/arrow-right-white.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  margin-top: 24px;
  cursor: pointer;
  transition: 0.5s;
}
.form__btn:hover {
  background-color: white;
  color: #021747;
  background-image: url(../design/arrow-right-black.png);
}

.form-input {
  padding: 12px;
  outline: none;
  margin-bottom: 16px;
}
.form-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6A7798;
  opacity: 0.5;
}

.form-label {
  padding: 10px 0;
}
.form-label__input {
  display: none;
}
.form-label__text {
  font-size: 16px;
  line-height: 30px;
  color: #6A7798;
}
.form-label__text::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../design/radio.png) center no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

.form-label__input:checked + .form-label__text::before {
  background: url(../design/radio-selected.png) center no-repeat;
}

.footer {
  border-top: solid 1px #D5DAE6;
  padding-top: 24px;
}

.container--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 170px;
}

.media-row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.media-row__media {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.media-row__media--rss {
  background: url(../design/icon-zabyl.png) no-repeat center;
}
.media-row__media--github {
  background: url(../design/icon-github.png) no-repeat center;
}
.media-row__media--in {
  background: url(../design/icon-linkedin.png) no-repeat center;
}
.media-row__text {
  display: none;
}

.subfooter {
  padding: 17px 33px;
  background: #000;
}
.subfooter__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.cloak {
  display: none;
  width: 135px;
  height: 166px;
  position: absolute;
  background-image: url(../design/CJARACTER_p2cloak.png);
  background-position: center;
  background-repeat: no-repeat;
}

.elixirator {
  display: none;
  background-image: url(../design/elixirator.png);
  width: 161px;
  height: 300px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.reviews {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 55px;
}
.reviews__logo {
  display: block;
  width: 40px;
  height: 40px;
  grid-area: logo;
}
.reviews__logo--red {
  background: url(../design/rating-red.png) center no-repeat;
}
.reviews__logo--green {
  background: url(../design/rating-green.png) center no-repeat;
}
.reviews__text {
  font-size: 14px;
  line-height: 17px;
}
.reviews__text--uppercase {
  text-transform: uppercase;
  color: #5F6E72;
}
.reviews__text--bold {
  font-weight: 500;
  color: #0D0D0D;
}

.review {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stars {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  height: 15px;
  width: 75px;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.stars::after, .stars::before {
  height: 100%;
  padding: 0;
  margin: 0;
  right: -12px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.stars--green {
  padding-right: 5px;
  position: relative;
}
.stars--green::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  width: 10px;
  height: 6px;
  background: url(../design/arrow-expand.png) center no-repeat;
}
.stars__i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background-size: contain;
}
.stars__i--red {
  background-image: url(../design/star-red.png);
}
.stars__i--green {
  background-image: url(../design/star-green.png);
}
.stars__star {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  height: 100%;
  width: 20%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.stars__star:hover + .stars__i, .stars__star:checked + .stars__i {
  opacity: 1;
}

.stars i {
  width: 20%;
}

.stars i ~ i {
  width: 40%;
}

.stars i ~ i ~ i {
  width: 60%;
}

.stars i ~ i ~ i ~ i {
  width: 80%;
}

.stars i ~ i ~ i ~ i ~ i {
  width: 100%;
}

/*
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 10px;
  justify-content: center;
}
.gallery__link {
  display: inline-block;
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
}
.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color: #000;
}

.gallery-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  transition: 0.4s;
  padding: 10px;
}
.gallery-text:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.gallery-text--with-btn:hover {
  background-color: transparent;
}
.gallery-text__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin: 12px 0;
}
.gallery-text__descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.gallery-text__btn-read-more {
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 12px;
  background-color: inherit;
  background-image: url(../design/arrow-right-white.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  min-width: 166px;
  text-align: left;
  transition: 0.5s;
}
.gallery-text__btn-read-more:hover {
  background-color: #FFFFFF;
  color: #021747;
  background-image: url(../design/arrow-right-black.png);
}

@media screen and (min-width: 768px) {
  .contacts {
    display: inline-block;
    background: #021747;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 12px;
    display: inline-block;
    margin-right: 50px;
  }

  .form__contact {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form__title {
    width: 100%;
  }
  .form__message {
    width: 100%;
  }
  .form__btn {
    width: 65%;
    display: block;
    margin: 30px auto;
  }

  .form-input {
    min-width: 49%;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .container--footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .media-row {
    width: 50%;
  }
  .media-row__media {
    flex-grow: 1;
    background-position: left center;
    padding-left: 20px;
    display: inline-block;
    height: auto;
  }
  .media-row__text {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #021747;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }

  .header {
    border-bottom: none;
  }

  .bars {
    display: none;
  }

  .vertical-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 1000px;
    border-left: #6F7E9E solid 1px;
  }

  .gallery {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .form {
    padding: 65px 50px;
  }

  .media-row {
    margin: 0;
  }

  .footer {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 70%;
  }

  .vertical-menu {
    width: 5%;
  }

  .footer {
    position: relative;
  }

  .cloak {
    display: inline-block;
    top: -110px;
    right: 50px;
  }

  .elixirator {
    display: inline-block;
    top: -196px;
    right: 50px;
  }
}
.logo, .media-row__text {
  position: relative;
  overflow: hidden;
}
.logo::after, .media-row__text::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #021747;
  bottom: 0;
  right: 100%;
  transition: 0.4s;
  position: absolute;
}
.logo:hover::after, .media-row__text:hover::after {
  right: 0;
}

/*# sourceMappingURL=styles.css.map */
